name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2

    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v1.0.0

    - name: Build debug
      run: |
        set msbuildemitsolution=1
        msbuild.exe Boxer.sln -m /p:Configuration=Debug
    
    - name: Build release
      run: |
        set msbuildemitsolution=1
        msbuild.exe Boxer.sln -m /p:Configuration=Release
